*.iml
.idea
.gradle
.DS_Store
/build
/buildSrc/build/
/captures
/local.properties
.externalNativeBuild
.cxx
*.class
*.tab
*.tab.values.at
misc.xml
target
.cargo
.vscode

libarklib.so
libarklib.dylib
libarklib.dll

!arklib/.cargo
arklib/.cargo/*
!arklib/.cargo/config
