[package]
name = "arklib-android"
version = "0.1.0"
edition = "2021"

[lib]
name = "arklib"
crate-type = ["staticlib", "dylib"]

[dependencies]
arklib = { git = "https://github.com/ARK-Builders/arklib", tag = "stub" }
crc32fast = "1.3.0"
env_logger = "0.9.0"
log = "0.4.14"

[target.'cfg(target_os="android")'.dependencies]
jni = { version = "0.19.0", default-features = false }
android_logger = "0.10.1"
